<div>
  <h2>Welcome to our site .</h2>

  <h3>Register as:</h3>
  <ul>
    <li><%= link_to 'CR', new_cr_registration_path %></li>
    <li><%= link_to 'Student', new_student_registration_path %></li>
    <li><%= link_to 'Teacher', new_teacher_registration_path %></li>
  </ul>

  <h3>Login as:</h3>
  <ul>
    <li><%= link_to 'CR', new_cr_session_path %></li>
    <li><%= link_to 'Student', new_student_session_path %></li>
    <li><%= link_to 'Teacher', new_teacher_session_path %></li>
  </ul>

</div>
